.main-container {
  display: flex;
  padding: 50px;
}
.item-list-container {
  width: 70%;
}

.item {
  padding: 20px;
}

.checkout-info {
  width: 30%;
}

.cart-grid-lables {
  display: flex;
}

.card-item-product {
  padding-left: 20px;
  width: 50%;
}

.card-item-quantity {
  width: 15%;
}
.card-item-price {
  width: 15%;
}
.card-item-total-price {
  width: 15%;
}
.card-item-delete {
  width: 5%;
}
